In [1]:
from BradleyTerry import SubjectiveScores
import pandas as pd
import numpy as np
import scipy

scipy.__version__, np.__version__, pd.__version__

('1.15.1', '2.2.3', '2.2.3')

# First Subjective Phase

In [2]:
df = pd.read_csv('./subjective_votes/phase1.csv')

In [3]:
SubjectiveScores(df, save_path='./subjective_scores/phase1.csv')

Running Bradley-Terry
Questions: 30600
Sequences: 20
Methods: 18

        name    subjective_score confidence_95_to_original
0     229494                 0.0       0.17786978397755002
1   original   2.429204372164451                       0.0
2     229376  2.8589295333344578        0.0985884927033972
3     229423  2.8877842859133462       0.09853447978960522
4     229410     2.9285176396899       0.09847506032284309
5     229375   2.931506474531878       0.09847147303798669
6     229463  2.9631478340640824         0.098439950294254
7     229370  3.0238598593410067       0.09841235885893779
8     229448  3.0885714812277825        0.0984303227974915
9     229380  3.1389936166115437       0.09847809013452395
10    229382  3.1894439268608727        0.0985554664686973
11    229374  3.2435544353927273       0.09867139723392523
12    229378  3.2715652739918597        0.0987448424202804
13    229466   3.335564332576203       0.09894721499531449
14    229391   3.427839719402418       0.09932445308284879
15    229347   3.443633325269961        0.0993992472045031
16    229373   3.452760216780683       0.09944384467983784
17    229390   3.595854983659008       0.10027681532630424

# Second Subjective Phase

In [4]:
df = pd.read_csv('./subjective_votes/phase2.csv')

In [5]:
SubjectiveScores(df, save_path='./subjective_scores/phase2.csv')

Running Bradley-Terry
Questions: 38000
Sequences: 20
Methods: 20

        name    subjective_score confidence_95_to_original
0     235739                 0.0        0.7244068792292024
1   original   5.317543619701422                       0.0
2     231073   5.599550406068333        0.0998714691580306
3     235888   5.745416202562425       0.09897482934821074
4     235691    6.07773509268677       0.09785130797338885
5     235217   6.295144079121894        0.0977527970922727
6     235712   6.299491976363768       0.09775576175940509
7     235772   6.398296402399397       0.09787492779635644
8     235231   6.400509451597042       0.09787873338264934
9     235796   6.404287055730502       0.09788534457873145
10    235735   6.425321445516765        0.0979248148044068
11    235681   6.449446616487697       0.09797563994387988
12    235696   6.452705138294465        0.0979829603793032
13    235225   6.472313538474407       0.09802930484738953
14    235711   6.514215047950569       0.09814155574389374
15    235721   6.551447810365857       0.09825648126726456
16    235830     6.5700861149295       0.09831940757917078
17    235858  6.6696321935972005        0.0987171372462114
18    235874   6.678433633225052       0.09875735245812048
19    235922   6.792591183974948        0.0993549469119102

# Third Subjective Phase

In [6]:
df = pd.read_csv('./subjective_votes/phase3.csv')

In [7]:
SubjectiveScores(df, save_path='./subjective_scores/phase3.csv')

Running Bradley-Terry
Questions: 42000
Sequences: 20
Methods: 21

        name    subjective_score confidence_95_to_original
0   original                 0.0                       0.0
1     242909  0.5610495764595649       0.10259217363340463
2     242841  1.0942736890400062       0.10028575649262261
3     242843  1.1814094527612748       0.10015979985870445
4     242829  1.2425291839153598       0.10011022639360533
5     242898   1.256645564991924        0.1001032755261093
6     242827   1.304301970496882       0.10009221001952835
7     242844  1.3328316238741063       0.10009471408822994
8     242838  1.4381351050705127       0.10016296478383004
9     242963   1.455085854093797       0.10018262729244756
10    242866   1.507438319086387       0.10025858777937066
11    243301   1.535857936850118       0.10030949095185027
12    242864  1.5463406261017378       0.10032999068156893
13    242888   1.566819718629519        0.1003727274100147
14    242839  1.6198847336269342       0.10050009226610297
15    242899  1.6419491469474357       0.10056015720087406
16    242894  1.7642201097468553       0.10096989452791061
17    242891  1.7968724833794523       0.10110173517945581
18    242887  1.8127954332361917       0.10116952024475966
19    242922  2.0245490244006605       0.10229641977784379
20    242892  2.2090315524568553        0.1036430628631394

# PUBLIC TEST

In [8]:
df = pd.read_csv('./subjective_votes/final.csv')
FINAL_SUBMISSIONS = ['ByteMM', 'DeepView', 'Nobody', 'ShannonLab', 'TACO_SR', 'ChouPiJiang', 'VQE', 'original']
df = df[df['left_method'].isin(FINAL_SUBMISSIONS) & df['right_method'].isin(FINAL_SUBMISSIONS) & (df['subset'] != 'private')]

In [9]:
SubjectiveScores(df, save_path='./subjective_scores/public_test.csv')

Running Bradley-Terry
Questions: 33600
Sequences: 120
Methods: 8

          name    subjective_score confidence_95_to_original
0     original                 0.0                       0.0
1      TACO_SR  0.6184761171654432       0.06266024983849172
2       ByteMM  0.7156067782394293       0.06261090756950696
3          VQE  1.0429499675764782       0.06291763280558449
4  ChouPiJiang   1.087307283887033       0.06301289943012107
5       Nobody  1.2730976019812008       0.06354892336059552
6     DeepView   1.481621010692254       0.06441961569737507
7   ShannonLab   1.779675885572398       0.06619990289391388

# PRIVATE TEST

In [10]:
df = pd.read_csv('./subjective_votes/final.csv')
FINAL_SUBMISSIONS = ['ByteMM', 'DeepView', 'Nobody', 'ShannonLab', 'TACO_SR', 'ChouPiJiang', 'VQE', 'original']
df = df[df['left_method'].isin(FINAL_SUBMISSIONS) & df['right_method'].isin(FINAL_SUBMISSIONS) & (df['subset'] == 'private')]

In [11]:
SubjectiveScores(df, save_path='./subjective_scores/private_test.csv')

Running Bradley-Terry
Questions: 8400
Sequences: 30
Methods: 8

          name    subjective_score confidence_95_to_original
0     original                 0.0                       0.0
1      TACO_SR  0.6178688317760059        0.1320320053152019
2       ByteMM  0.9598409389332143       0.13169786192720787
3          VQE  1.3455083334228952        0.1329790312484044
4  ChouPiJiang  1.3712478968169313       0.13312207804996123
5       Nobody  1.4523353676239203       0.13361940961485783
6     DeepView  1.9977216347838112       0.13892674317642434
7   ShannonLab   2.149129643288592       0.14109017506401586

# FINAL RESULTS

In [12]:
df = pd.read_csv('./subjective_votes/final.csv')
FINAL_SUBMISSIONS = ['ByteMM', 'DeepView', 'Nobody', 'ShannonLab', 'TACO_SR', 'ChouPiJiang', 'VQE', 'original']
df = df[df['left_method'].isin(FINAL_SUBMISSIONS) & df['right_method'].isin(FINAL_SUBMISSIONS)]

In [13]:
SubjectiveScores(df, save_path='./subjective_scores/final_results.csv')

Running Bradley-Terry
Questions: 42000
Sequences: 150
Methods: 8

          name    subjective_score confidence_95_to_original
0     original                 0.0                       0.0
1      TACO_SR   0.617333535805175       0.05655870815797962
2       ByteMM   0.761149039659375      0.056491157555701395
3          VQE  1.0995018951192703       0.05681731702623356
4  ChouPiJiang   1.140204825827285       0.05690014641422819
5       Nobody  1.3054251677864857       0.05733104792994543
6     DeepView  1.5783255518903694      0.058384663140340104
7   ShannonLab  1.8484686906531538       0.05988630200739865