In [1]:
from BradleyTerry import SubjectiveScores
import pandas as pd
import numpy as np
import scipy

scipy.__version__, np.__version__, pd.__version__

('1.15.1', '2.2.3', '2.2.3')

# First Subjective Phase

In [2]:
df = pd.read_csv('./subjective_votes/phase1.csv')

In [3]:
SubjectiveScores(df, save_path='./subjective_scores/phase1.csv')

Running Bradley-Terry
Questions: 30600
Sequences: 20
Methods: 18

        name    subjective_score confidence_95_to_original
0     230090  3.5958425865478105        0.1002768947115975
1     230089    3.45275199183467       0.09944393711204051
2     230088   3.443616517976187       0.09939929722488561
3     230087    3.42782593585722       0.09932451712997008
4     230086   3.335548274972779       0.09894726752258745
5     230085  3.2715483749371583       0.09874489182582874
6     230104  3.2435436600561514       0.09867146160038566
7     230103  3.1894287777219716       0.09855551874842546
8     230082  3.1389748578496213       0.09847813663345167
9     230102   3.088557671190826       0.09843037328802187
10    230080   3.023840320154273       0.09841240707131635
11    230079  2.9631248023727945       0.09844000263377607
12    230078  2.9314889936428994       0.09847152075990712
13    230077   2.928501016195832       0.09847510698800782
14    230101  2.8877666134113094       0.09853452763253433
15    230100    2.85890499335376       0.09858855448945933
16  Original   2.429182838417973                       0.0
17    230074                 0.0       0.17786859296126228

# Second Subjective Phase

In [4]:
df = pd.read_csv('./subjective_votes/phase2.csv')

In [5]:
SubjectiveScores(df, save_path='./subjective_scores/phase2.csv')

Running Bradley-Terry
Questions: 38000
Sequences: 20
Methods: 20

        name   subjective_score confidence_95_to_original
0     237831  6.791462467642389       0.09935187456603561
1     237829  6.677294211784168       0.09875421855002087
2     235858  6.668362412161126       0.09871341431010654
3     235830  6.568951189377833       0.09831629697364314
4     235721  6.550319763957455       0.09825339434646561
5     235711  6.513149020383314       0.09813864856967128
6     237825  6.471123175728678       0.09802606590190965
7     235696  6.451510023113685         0.097979724159247
8     237827  6.448248930678667       0.09797240041240775
9     235735  6.424331484974785       0.09792200611280157
10    235796  6.403156491964678       0.09788225911317146
11    237826  6.399329527477752       0.09787556292720535
12    237828  6.397144888992585       0.09787180723020086
13    235712  6.298370979603544       0.09775269837007763
14    237800  6.294023831985497       0.09774973456798192
15    235691  6.076598986809072       0.09784830374118564
16    237830  5.744326686717296       0.09897175394493729
17    237727  5.598513151190291        0.0998680458218433
18  Original  5.316620255702701                       0.0
19    237851                0.0        0.7240144055932517

# Third Subjective Phase

In [6]:
df = pd.read_csv('./subjective_votes/phase3.csv')

In [7]:
SubjectiveScores(df, save_path='./subjective_scores/phase3.csv')

Running Bradley-Terry
Questions: 42000
Sequences: 20
Methods: 21

        name    subjective_score confidence_95_to_original
0     242892  2.2090909620704906       0.10364407192613018
1     242922   2.024555848651111       0.10229708101687948
2     242887  1.8128138229978719       0.10117032047207104
3     242891   1.796926432125384       0.10110268877710012
4     242894  1.7642854793775302        0.1009708913304353
5     242899   1.642002802433551       0.10056110334044695
6     242839  1.6199161452062516        0.1005009789055334
7     242888  1.5668574215426232       0.10037363506698392
8     242864  1.5463782018728207       0.10033089972020784
9     242875  1.5359088251222925       0.10031042626093097
10    242866  1.5074784895956812       0.10025950415467234
11    242907  1.4551331204664717       0.10018355498811778
12    242838  1.4381902146395513       0.10016390077317908
13    242844  1.3328906716579765       0.10009564159858762
14    242827  1.3043649559928427       0.10009313367895889
15    242898  1.2566970324116542       0.10010419608851855
16    242829  1.2425976147385693       0.10011113650219823
17    242843  1.1814856533639653       0.10016068774495679
18    242841  1.0943292501430686       0.10028665504182552
19    242909  0.5610310431118666       0.10259348796602986
20  Original                 0.0                       0.0

# PUBLIC TEST

In [8]:
df = pd.read_csv('./subjective_votes/final.csv')
df = df[df['subset'] != 'private']

In [9]:
SubjectiveScores(df, save_path='./subjective_scores/public_test.csv')

Running Bradley-Terry
Questions: 33600
Sequences: 120
Methods: 8

          name    subjective_score confidence_95_to_original
0   ShannonLab  1.7796967166398923       0.06620005999932352
1     DeepView  1.4816117259650852       0.06441957889511196
2       Nobody  1.2730893875529137       0.06354890292970922
3  ChouPiJiang  1.0873058334025123       0.06301290394835951
4          VQE  1.0429481551149549        0.0629176369270417
5       ByteMM  0.7156069244490271       0.06261091477571115
6      TACO_SR  0.6184829741429617       0.06266025107009182
7     Original                 0.0                       0.0

# PRIVATE TEST

In [10]:
df = pd.read_csv('./subjective_votes/final.csv')
df = df[df['subset'] == 'private']

In [11]:
SubjectiveScores(df, save_path='./subjective_scores/private_test.csv')

Running Bradley-Terry
Questions: 8400
Sequences: 30
Methods: 8

          name    subjective_score confidence_95_to_original
0   ShannonLab   2.149161072549972        0.1410909324302447
1     DeepView  1.9977632880170038        0.1389276131620625
2       Nobody  1.4523420234497548       0.13361989469524788
3  ChouPiJiang  1.3712632482264946       0.13312261928477778
4          VQE   1.345525457113669       0.13297958157483583
5       ByteMM  0.9598655623930443        0.1316983943152462
6      TACO_SR  0.6178748949794315       0.13203252195739093
7     Original                 0.0                       0.0

# FINAL RESULTS

In [12]:
df = pd.read_csv('./subjective_votes/final.csv')

In [13]:
SubjectiveScores(df, save_path='./subjective_scores/final_results.csv')

Running Bradley-Terry
Questions: 42000
Sequences: 150
Methods: 8

          name    subjective_score confidence_95_to_original
0   ShannonLab   1.848477609480369      0.059886355235425626
1     DeepView  1.5783185144102103       0.05838462149593195
2       Nobody  1.3054176144490077       0.05733101259184353
3  ChouPiJiang  1.1401993342524521       0.05690012071439701
4          VQE  1.0995012893194431      0.056817301556095344
5       ByteMM  0.7611459548965849      0.056491140357012505
6      TACO_SR  0.6173373192537054       0.05655868626354062
7     Original                 0.0                       0.0